@import '~@elastic/eui/src/themes/eui-amsterdam/eui_amsterdam_colors_dark';

// Core
// $euiColorPrimary: #ff2323;
// $euiColorPrimary: #238cff;
$euiColorPrimary: #9ab0b8;
$euiColorSecondary: #505050;
// $euiColorPrimary: #d66e19;
// $euiColorPrimary: #615040;
// $euiColorPrimary: #5f4933;

// // Status
// $euiColorSuccess: $euiColorPrimary;
$euiColorSuccess: #8aa63d;
$euiColorWarning: #f0ad1c;
$euiColorDanger: #e25424;

// Grays
$euiColorEmptyShade: #1D1E24;
$euiColorLightestShade: #25262E;
$euiColorLightShade: #343741;
$euiColorMediumShade: #535966;
$euiColorDarkShade: #98A2B3;
$euiColorDarkestShade: #D4DAE5;
$euiColorFullShade: #FFF;

// Variations From Core
$euiTextColor: #505050;

// Contrasty Variations from Core
$euiColorPrimaryText: makeHighContrastColor($euiColorPrimary);
$euiColorSecondaryText: makeHighContrastColor($euiColorSecondary);
$euiColorAccentText: makeHighContrastColor($euiColorAccent);
$euiColorWarningText: makeHighContrastColor($euiColorWarning);
$euiColorDangerText: makeHighContrastColor($euiColorDanger, $euiColorLightShade);
$euiColorSuccessText: $euiColorSecondaryText;

// Contrasty text variants
$euiColorPrimaryText: $euiColorPrimary;
$euiColorPrimaryText: makeHighContrastColor($euiColorPrimary);

//-----------------------------------------------------//
//        Full color variable options available        //
//-----------------------------------------------------//
/*
// Core
$euiColorPrimary: #1BA9F5;
$euiColorSecondary: #7DE2D1;
$euiColorAccent: #F990C0;
$euiColorHighlight: #2E2D25;

// These colors stay the same no matter the theme
$euiColorGhost: #FFF;
$euiColorInk: #000;

// Status
$euiColorSuccess: $euiColorSecondary;
$euiColorWarning: #FFCE7A;
$euiColorDanger: #F66;

// Grays
$euiColorEmptyShade: #1D1E24;
$euiColorLightestShade: #25262E;
$euiColorLightShade: #343741;
$euiColorMediumShade: #535966;
$euiColorDarkShade: #98A2B3;
$euiColorDarkestShade: #D4DAE5;
$euiColorFullShade: #FFF;

// Variations from core
$euiTextColor: #DFE5EF;
$euiLinkColor: $euiColorPrimary;
$euiFocusBackgroundColor: #232635;
$euiShadowColor: #000;
$euiShadowColorLarge: #000;
$euiPageBackgroundColor: shade($euiColorLightestShade, 30%);
$euiTextSubduedColor: makeHighContrastColor($euiColorMediumShade);
$euiTitleColor: $euiTextColor;

// Contrasty text variants
$euiColorPrimaryText: makeHighContrastColor($euiColorPrimary);
$euiColorSecondaryText: makeHighContrastColor($euiColorSecondary);
$euiColorAccentText: makeHighContrastColor($euiColorAccent);
$euiColorWarningText: makeHighContrastColor($euiColorWarning);
$euiColorDangerText: makeHighContrastColor($euiColorDanger, $euiColorLightShade);
$euiColorSuccessText: $euiColorSecondaryText;

// Charts
$euiColorChartLines: $euiColorLightShade;
$euiColorChartBand: tint($euiColorLightestShade, 2.5%);
*/
